@charset "UTF-8";
/**
 * 
 * @dash (@example.org)
 * @date    2017-07-24 21:08:55
 * @version $1.0$
 */
*{
    margin:0;
    padding:0;
}
.placeholder{
    background-color: transparent;
    height:100px;
}
.container {
    background-image:url('bg-img.jpg');
    background-size:100% auto;
    width:100%;
    height:100vh;
    text-align: center;
    background-attachment: fixed;
    position:absolute;
}
.menu{
    width:40%;
    height:400px;
    margin:auto;
    background-color:rgba(0,0,0,0.4);
    text-align:center;
    position:relative;
    box-shadow:2px 2px 5px black;
}
.menu h4{
    font-size:1.2em;
    margin:auto;
    color:white;
    padding:5px;
}
.content{
    margin:2px auto 10px;
    width:90%;
    height:300px;
    border:1px solid white;
    color:white;
}
.content p{
    margin-top:10px;
}
.ctrl-panel{
    width: 90%;
    margin:auto;
    text-align: left;
}
.ctrl-panel input{
    background:transparent;
    border:1px solid white;
    color:white;
    height:40px;
    line-height:40px;
    width:70%;
    font-size:0.9em;
}
input::-webkit-input-placeholder{
   padding-left:5px;
   color:rgba(255,255,255,0.6);
}
.ctrl-panel button{
   padding:6px 26px;
   background-color:transparent;
   border:1px solid white;
   height:40px;
   color:white;
   cursor:pointer;
}
.ctrl-panel button:hover{
  background-color:rgba(0,0,0,0.3);
}